@use '../../../stylesheets/variables.scss' as variables;

@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/mixin/grids.scss' as grids;
@use '../../../stylesheets/fonts.scss' as fonts;



@mixin card-base(){
    &:hover {
        @include variables.box-shadow;
    }
    &.wip {
        &::after {
            max-width: 25.125rem;
            color: white;
            font-weight: bold;
            display: flex;
            position: absolute;
            width: 100%;
            top: 0;
            justify-content: center;
            top: 30%;
            content: "Work in progress";
            z-index: 1;
            opacity: 0;
            transition: all .5s ease-in-out;
            padding: 1rem 0;
            @include bp.tablet {
                max-width: 100%;
            }
        }
        &:hover {
            cursor: not-allowed;
            &::after {
                backdrop-filter: contrast(.1) blur(5px);
                opacity: 100%;
            }
        }
        .card-image {
            transition: all .5s ease-in-out;
        }
    }
    text-decoration: none;
    color: colours.$text-primary;
    background: colours.$bg-secondary;
    width: fit-content;
    height: fit-content;
    transition: box-shadow .3s;

    div.container {
        background: colours.$bg-secondary;
    }
    h3, p {
        margin: 0;
    }
    div.text {
        padding: 1rem 1.5rem;
    }
    h3 {
        font-size: fonts.$title;
        text-wrap: pretty;
        line-height: 150%;
    }
}