@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;


@mixin card-mobile(){
    img {
        width: 100%;
    }
    div.container {
        display: flex;
        flex-direction: column;
        max-width: 25.125rem;
    }
    .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}