{# 
    You can pass through:
    - a for link
    - class for classname
    - id for id
    - img for image --> located in the assets/img folder WITH file
    - imgsrc for an image outside assets/img --> a full path, used instead of img
    - heading for tile heading
    - caption for tile caption
#}

<a     
    href="{{params.a}}"

    class="card{% if params.class %} {{params.class}}{% endif %}"

    {% if params.id %}
    id="{{params.id}}"
    {% endif %} 
>
    <div class="container">
        {% if params.imgsrc or params.img %}
        <img src="{{ params.imgsrc if params.imgsrc else "/assets/img/" + params.img }}" alt="{{params.alt}}" class="card-image">
        {% endif %}
        {% if params.heading %}
        <div class="text">
            <h3>
                {{params.heading | safe}}
            </h3>
            {% endif %}
            {% if params.caption %}
            <p>
                {{params.caption | safe}}
            </p>
            {% endif %}
        </div>
    </div>
</a>

