{# 
    You can pass through:
    - a for link
    - class for classname
    - id for id
    - img for image --> located in the assets/img folder WITH file
    - heading for tile heading
    - caption for tile caption
#}

<a     
    href="{{params.a}}"

    {% if params.class %}
    class="{{params.class}}"
    {% endif %} 

    {% if params.id %}
    id="{{params.id}}"
    {% endif %} 
>
    <div>
        {% if params.img %}
        <img src="{{ "../../../assets/img/" + params.img}}" alt="{{params.alt}}" class="card-image">
        {% endif %}
        {% if params.heading %}
        <h3>
            {{params.heading | safe}}
        </h3>
        {% endif %}
        {% if params.caption %}
        <p>
            {{params.caption | safe}}
        </p>
        {% endif %}
        
    </div>
</a>

