{# 
    You can pass through:
    - class for classname
    - id for id
    - link for links
    - text for text (wrap it)
    - icon for icon --> include file extension 
    
#}

{% if params.onclick %}
    <a href="{{params.link}}" 
       class="tile {{params.class}}"
       id="{{params.id}}"
       >
       <img src="{{ "../../../assets/img/" + params.icon}}" alt="" class="tile-icon">
       <p>{{ params.innercontent | safe}}</p>
    </a>
{% else %}
    <div class="tile"
         id="{{params.id}}"
    >
        <img src="{{ "../../../assets/img/" + params.icon}}" alt="" class="tile-icon">
        <p> {{ params.innercontent | safe}} </p>
    </div>
{% endif %}