{# 
    You can pass through:
    - innercontent for text
    - linkurl for links
    - class for classname
    - id for id
    - icon for icon --> include file extension 
    
#}

{% if params.linkurl %}
    <a href="{{params.linkurl}}" 
       class="tile {{ params.class if params.class }}"
       id="{{ params.id if params.id}}"
       >
       <img src="{{ "/assets/img/" + params.icon}}" alt="" class="tile-icon">
       <p>{{ params.innercontent | safe}} <svg class="external-link-icon" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z" fill="currentColor"/>
    </svg></p> 

    
    </a>
{% else %}
    <div class="tile {{ params.class if params.class }}"
         id="{{ params.id if params.id }}"
    >
        <img src="{{ "/assets/img/" + params.icon}}" alt="" class="tile-icon">
        <p> {{ params.innercontent | safe}} </p>
    </div>
{% endif %}