@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/variables.scss' as variables;
@use '../../../stylesheets/mixin/colours.scss' as colours;


.tile {
    box-sizing: border-box;
    display: flex;
    height: 4.75rem;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 1rem;
    gap: 1rem;
    white-space: nowrap;
    align-items: center;
    transition: all, .5s;
    padding: 1rem;
    background-color: colours.$bg-secondary;
    p {
        margin: 0;
    }
    img {
        height: 2.625rem;
        width: 2.625rem;
    }
    @include bp.tablet {
        position: relative;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        display: flex;
        img {
            width: 6.25rem;
            height: 6.25rem;
        }
    }
    .external-link-icon {
        width: 1.25rem;
        height: auto;
        display: inline;
        margin-bottom: -.2rem;
    }
} 