@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/grids.scss' as grids;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;

@mixin now-desktop(){
    @include bp.desktop{
        padding-bottom: 4rem;
        .writing-posts {
            grid-column: 4/10;
        }
        .content-flex {
            display: flex;
            flex-direction: row;
            gap: 5rem;
            > .column {
                &:nth-of-type(2) {
                    margin-top: -3rem;
                }
                flex: 1;
            }
        }
    }
}