@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/grids.scss' as grids;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;

@mixin now-tablet(){
    @include bp.tablet{
        aside {
            justify-self: flex-end;
            grid-column: 8/12;
            grid-row: 1;
            text-align: right;
        }
        .content-flex {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 1rem;
        }
        .location.column {
            grid-column: 1/3;
        }
    }
}