@use 'fonts.scss' as fonts;
@use 'variables.scss' as variables;
@use 'mixin/colours.scss' as colours;
@use 'mixin/breakpoints.scss' as bp;

html {
    color: colours.$text-primary;
    font-family: 'overpass';
    font-size: 16px;
    text-wrap: pretty;
}

body {
    @media (prefers-reduced-motion) {
        animation: none;
    }
    margin: 0;
    text-wrap: pretty;
    //bg animated grid (modified from Bernardo Baquero Stand)
    $body-bg-colour: colours.$bg-primary;
    $grid-colour: colours.$bg-secondary;
    $size: 3.75rem;
    background-color: $body-bg-colour;
    background-image: linear-gradient($grid-colour, 1px, transparent 0), linear-gradient(90deg, $grid-colour, 1px, transparent 0);
    background-size: $size $size, $size $size;
    animation: moveX 15s linear infinite;

    @keyframes moveX {
        from {
            background-position: 0 0, 0 0;
        } to {
            background-position: $size $size;
        }
    }
}

a { //links colour
    &:where(:hover, :focus-visible) {
        background: linear-gradient(0deg, colours.$accent-emphasis, colours.$accent-emphasis) no-repeat left bottom / 100% 100%;
    }
    background: linear-gradient(0deg, colours.$seasalt, colours.$seasalt) no-repeat right bottom / 0 100%;
    color: colours.$links;
    font-size: 1.125rem;
    transition: background-size .75s, background-color 1s;
    @media (prefers-reduced-motion) {
        &:where(:hover, :focus-visible) {
            background: none;
        }
        background: none;
    }
}

b {
    font-weight: 900;
}

p {
    font-size: 1.125rem;
    line-height: 150%;
}

.text-hero {
    font-family: 'mondwest';
    font-weight: bold;
    font-size: 4.5rem;
}

aside {
    color: colours.$text-subdued;
    font-family: 'overpass';
    font-weight: normal;
    font-size: 1.5rem;
    .links {
        font-size: 1.125rem;
    }
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-sm {
    font-size: 1rem;
}

a.skip-main {
    &:where(:hover, :focus-visible) {
        background: linear-gradient(0deg, colours.$bg-primary, colours.$bg-primary) no-repeat left bottom / 100% 100%;
    }
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
    color: transparent;
    opacity: 0;
}
a.skip-main:focus, a.skip-main:active {
    color: colours.$links;
    background: linear-gradient(0deg, colours.$bg-secondary, colours.$bg-secondary) no-repeat left top / 100% 100%;
    left: 0;
    top: calc(variables.$header-mobile-height + .625rem);
    width: fit-content;
    height: fit-content;
    padding: .75rem;
    border-radius: .5rem;
    border: 1px solid colours.$links;
    text-align: center;
    opacity: 1;
    z-index:999;
    @include bp.desktop {
        top: calc(variables.$header-desktop-height + .625rem);
    }
}