//Fonts!
$title: 1.5rem;
$text-small: 1rem;

.neue-bit {
    font-family: 'neuebit';
    font-size: 1.5rem;
}

@font-face {
    font-family: 'neuebit';
    src: url('../assets/fonts/neuebit-regular.woff2') format('woff2'),
        url('../assets/fonts/neuebit-regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'mondwest';
    src: url('../assets/fonts/mondwest-regular.woff2') format('woff2'),
        url('../assets/fonts/mondwest-regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'mondwest';
    src: url('../assets/fonts/mondwest-bold.woff2') format('woff2'),
        url('../assets/fonts/mondwest-bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'overpass' sans-serif;
    src: url('../assets/fonts/overpass.ttf') format('ttf');
    font-style: normal;
}

@font-face {
    font-family: 'overpass' sans-serif;
    src: url('../assets/fonts/overpass-italic.ttf') format('ttf');
    font-style: italic;
}