//Global stylesheet mostly used for load order
@use 'fonts.scss' as fonts;
@use 'variables.scss' as variables;
@use 'mixin/colours.scss' as colours;
@use 'mixin/breakpoints.scss' as bp;
@use 'defaults.scss';
@use '../_includes/components/components.scss';
@use '../pagestyles.scss';

html {
    scroll-behavior: smooth!important;
}

body {
    overflow-x: hidden;
}

#lightgallery {
    a {
        background: none;
        figure { 
            &:hover {
                transform: scale(1.03); 
                box-shadow: -2px 13px 24px -9px rgba(0,0,0,0.19);
                -webkit-box-shadow: -2px 13px 24px -9px rgba(0,0,0,0.19);
                -moz-box-shadow: -2px 13px 24px -9px rgba(0,0,0,0.19);                 
                padding: .75rem 0;
            }
        }
        text-decoration: none;
        display: flex;
        figure {
            background-color: white;
            transition: all .5s;
            border-radius: 1rem;
        }
    }
}

.lg-container {
    div {
        font-family: 'overpass';
    }
    > div {
        background-color: colours.$bg-primary;
    }
    .lg-sub-html {
        color: colours.$text-primary;
    }
    .lg-img-wrap {
        padding: 2rem;
    }
    .lg-image {
        border-radius: 1rem;
        box-shadow: -2px 13px 24px -9px rgba(0,0,0,.19);
    }
    .lg-outer .lg-thumb-outer {
        background-color: colours.$bg-secondary;
    }
    .lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
        border-color: colours.$links;
    }
    .lg-toolbar .lg-icon:hover {
        color: colours.$links;
    }
    .lg-next, .lg-prev {
        color: white;
    }
}