//Global stylesheet
@use 'fonts.scss';
@use 'mixin/colours.scss' as colours;

html {
    color: colours.$text-primary;
    font-family: 'overpass';
    font-size: 1.25rem; //body text default size
    line-height: 150%;
}

a { //links colour
    color: colours.$links;
}

.text-heading {
    font-family: 'mondwest';
    font-weight: bold;
    font-size: 4.5rem;
}

.text-heading-caption {
    font-family: 'mondwest';
    font-weight: normal;
    font-size: 1.5rem;
}

.text-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-sm {
    font-size: 1rem;
}