@use './mixin/breakpoints.scss' as bp;

$header-mobile-height: 3.125rem;
$header-desktop-height: 4.375rem;

@mixin transition-all {
    transition: all, .5s;
}

@mixin squiggle {
    position: absolute;
    left: 0;
    z-index: -1;
}

@mixin box-shadow {
    box-shadow: -2px 13px 24px -9px rgba(0,0,0,0.19);
    -webkit-box-shadow: -2px 13px 24px -9px rgba(0,0,0,0.19);
    -moz-box-shadow: -2px 13px 24px -9px rgba(0,0,0,0.19); 
}

@mixin snap-scroll {
    .snap-scroll{
        scroll-behavior: smooth!important;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y proximity;
        max-height: calc(100dvh - $header-mobile-height);
        @include bp.tablet() {
            scroll-snap-type: y mandatory;
            max-height: calc(100dvh - $header-desktop-height);
        }
    }
}