@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/grids.scss' as grids;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;

@mixin project-page-base(){
    @include grids.main-grid;
    transition: all, .5s;
    position: relative;
    * :not(.project-header) {
        gap: inherit;
        max-width: 44.5rem;        
    }
    h1, h2{
        margin-inline: 0;
        margin-block: 0;
        text-wrap: balance;
    }
    .project-header {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: subgrid;
        gap: inherit;

        .project-banner {
            grid-column: 1/13;
        }
        .information {
            padding: 2rem 0;
            display: flex;
            gap: 1rem;
            flex-direction: column;
        }
        .details {
            font-size: 1rem;
        }
        a {
            font-size: 1rem;
            margin: -.5rem; 
            padding: .5rem;
            width: fit-content;
        }
        .award-badge {
            display: flex;
            width: fit-content;
            background-color: colours.$bg-tertiary;
            padding: 0.375rem 1rem;
            border-radius: 10rem;
            margin-top: .5rem;
        }
    }
    #back-link{
        svg {
            flex-shrink: 0;
        }
        align-items: center;
        background: none;
        color: colours.$links;
        display: flex;
        gap: .25rem;
        grid-column: 2/4;
        height: fit-content;
        justify-self: flex-start;
        margin: 0 -1rem;
        overflow: visible;
        padding: 1rem;
        text-decoration: underline;
        width: fit-content;
    }
    table {
        th, td {
            padding: .5rem;
            vertical-align: text-top;
        }
    }
    table, li {
        font-size: 1.125rem;
    }
    figure {
        margin-block: 1rem;
        img {
            width: 100%;
        }
    }
    figcaption {
        text-align: center;
        font-style: italic;
        color: colours.$text-subdued;
        a {
            font-size: 1rem;
        }
    }
    blockquote {
        margin-block: 0;
        margin-inline: 0;
    }
    h2, p {
        margin-block: 0;
        margin-bottom: 1rem;
    }
}