@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/grids.scss' as grids;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;

@mixin project-page-mobile(){
    * :not(.project-header):not(.owl-carousel *) {
        grid-column: 2/12;
        gap: inherit;
        max-width: 100%;
    }
    .content {
        display: grid;
        gap: inherit;
        grid-column: 1/13;
        grid-template-columns: subgrid;
        background-color: colours.$bg-secondary;
    }
    table {
        margin: 2rem 0;
    }
    .content > figure {
        > figcaption {
            margin: .5rem auto auto auto;
        }
        margin-block: 0;
        margin-inline: 0;
        margin-bottom: 2rem;
    }
    .persona {
        margin-top: 1rem;
    }
    .webmentions {
        &-header {
            padding: 0;
            flex-direction: column;
            margin-bottom: 2rem;
        }
        grid-column: 1/13;
        background: colours.$bg-secondary;
        display: grid;
        grid-template-columns: subgrid;
        margin-top: 1rem;
        padding: 2rem 0;
    }
}