@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/grids.scss' as grids;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;

@mixin project-page-tablet(){
    @include bp.tablet{
        justify-items: center;
        padding-top: 1.5rem;
        .information {
            grid-column: 1/13;
        }
        .project-header {
            row-gap: 0;
            .information {
                padding: 2rem;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            grid-column: 3/11;
            margin-block: 0;
            margin-inline: 0;
            max-width: 44.5rem;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            p {
                padding: 0 2rem;
            }
            h2, h3, h4 {
                padding: 0 2rem;
                margin-block: 0;
                margin-inline: 0;
                max-width: 44.5rem;
            }
            h2, h3 {
                margin: 1rem 0;
            }
        }
        .content, #back-link {
            grid-row: 1;
        }
        #back-link {
            position: sticky;
            top: 2rem;
        }
        ol, ul, table {
            margin: 0 2rem;
            li {
                line-height: 150%;
            }
        }
        figure {
            margin-block: 2rem;
            margin-inline: 0;
        }
    }
}