@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/grids.scss' as grids;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;

@mixin project-page-tablet(){
    justify-items: center;
    padding-top: 1.5rem;
    @include bp.tablet{
        * :not(.project-header) {
            grid-column: 1/10;
        }
        .project-header {
            row-gap: 0;
            .information {
                padding: 2rem;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            margin-block: 0;
            margin-inline: 0;
            grid-column: 3/11;
            max-width: 44.5rem;
            p, h2, h3 {
                padding: 0 2rem;
                margin-block: 0;
                margin-inline: 0;
                max-width: 44.5rem;
            }
            h2, h3 {
                margin: 1rem 0;
            }
        }
        .content, #back-link {
            grid-row: 1;
        }
        #back-link {
            position: sticky;
            top: 2rem;
        }
    }
}