---
layout: base.njk
---



<div id="project-page">
    <button id="back-link" onclick="history.back()">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.3334 6.66666V9.33332H18.6667V6.66666H21.3334ZM16 12V9.33332H18.6667V12H16ZM13.3334 14.6667V12H16V14.6667H13.3334ZM13.3334 17.3333H10.6667V14.6667H13.3334V17.3333ZM16 20V17.3333H13.3334V20H16ZM16 20H18.6667V22.6667H16V20ZM21.3334 25.3333V22.6667H18.6667V25.3333H21.3334Z" fill="#116969"/>
        </svg>
        Back
    </button>
    <div class="content">
        {{ content | safe }}
    </div>
    {% if type == "writing" %}
        {% set replies = webmentions | getWebmentionsByTypes(['mention-of', 'in-reply-to'])%}
        {% set reactions = webmentions | getWebmentionsByTypes(['like-of', 'repost-of', 'bookmark-of']) %}
        {% set mentions = webmentions | getWebmentionsByTypes(['mention-of']) %}
        {% set inreplies = webmentions | getWebmentionsByTypes(['in-reply-to'])%}

    <div class="webmentions">
        <div class="webmentions-header">
            <span class="webmentions-header_title"><h1>Webmentions </h1><span>({{ webmentions.length}})</span></span>
            <a href="https://indieweb.org/Webmention">What is a webmention?</a>
        </div>
        <div class="replies">
            <details open>
                <summary><span class="webmentions-h2"><h2>Replies</h2> <span>({{ replies.length }})</span></span></summary>
                {% if replies.length == 0 %}
                    <div class="webmentions-nowebmentions">No replies so far!</div>
                {% endif %}
                {% for reply in inreplies %} 
                <div class="inreply">
                    <div class="reply-header">
                        <img src="{{ reply.author.photo }}" alt=""/>
                        <div>
                            <div class="author">
                                <a href="{{ reply.author.url }}">{{ reply.author.name }}</a>
                            </div>
                            <time>
                                {{ reply.published }}
                            </time>
                        </div>
                    </div>
                    <div class="reply-content">
                        {{ reply.content.text }}
                    </div>
                </div>
                {% endfor %}
                {% for mention in mentions %} 
                <div class="mention">
                    <div class="mention">
                        <img src="{{ mention.author.photo }}" alt=""/>
                        <div>
                            <div class="author">
                                <a href="{{ mention.author.url }}">{{ mention.author.name }}</a>
                            </div>
                            <time>
                                {{ mention.published }}
                            </time>
                        </div>
                    </div>
                    <div class="mention-content">
                        {{ mention.content.text }}
                    </div>
                </div>
                {% endfor %}
            </details>     
        </div>
        <div class="reactions">
            <details open>
                <summary>
                <span class="webmentions-h2">
                    <h2>Reactions</h2><span> ({{ reactions.length }})</span>
                </span>    
            </summary>
            </details>
            <div>
                {% if reactions.length == 0 %} 
                    <div class="webmentions-nowebmentions">No reactions so far!</div>
                {% endif %}
                {% for reaction in reactions %}
                    {{ reaction }}
                {% endfor %}
            </div>
        </div>

    </div>
    {% endif %}
</div>

