@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/grids.scss' as grids;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;
@use '../../../stylesheets/fonts.scss' as fonts;


@mixin writing-base(){
    @include grids.main-grid();
    padding-top: 2rem;
    .header-icon.notes {
        width: 5rem;
    }
    .squiggle {
        @include variables.squiggle();
        bottom: -0.25rem;
    }
    h1 {
        @include fonts.big-title();
        grid-row: 1;
        height: fit-content;
        rotate: -1deg;
        text-align: left;
        justify-self: flex-start;
        span {
            align-items: center;
            gap: 1rem;
            display: flex;
            flex-wrap: nowrap;
            svg {
                margin-left: 1rem;
            }
        }
    }
    aside {
        font-size: 1.5rem;
        margin: 2rem 0;
        text-wrap: pretty;
        height: fit-content;
        rotate: 1deg;
    }
    .writing-posts {
        display: flex;
        justify-content: center;
        > ul {
            display: flex;
            flex-direction: column-reverse;
            gap: 2rem;
            padding-inline: 0;
            margin-inline: 0;
            margin-block: 0
        }
        > ul li {
            &:hover {
                @include variables.box-shadow();
            }
            .post-thumbnail__link {
                text-decoration: none;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: none;
                span {
                    display: none;
                }
            }
            position: relative;
            list-style-type: none;
            background-color: colours.$bg-secondary;
            padding: 2rem;
            max-width: 40rem;
            transition: all, .3s;
        }
        .tags {
            display: flex;
            flex-direction: row;
            gap: .5rem;
        }
        .tag {
            border-radius: 99rem;
            padding: .5rem 1rem;
            background-color: colours.$bg-tertiary;
            width: fit-content;
        }
        .blogpost-footer {
            display: flex;
            justify-content: space-between;
        }
        #blogpost-footer-actions {
            display: flex;
            gap: 1rem;
            span {
                display: flex;
                align-items: center;
                gap: .25rem;
            }
        }
    }
    #writing-search {
        max-width: 44rem;
        align-self: center;
        width: 100%;
        margin: 2rem;
        font-family: inherit;
        .pagefind-ui__filter-checkbox:checked {
            background: colours.$text-subdued;
        }
        .pagefind-ui__filter-block {
            padding: 0;
            border-bottom: none;
        }
        .pagefind-ui__filter-group {
            padding: 1rem 2rem 0 2rem;
        }
        .pagefind-ui__filter-name {
            &::after {
                right: 2rem;
            }
            font-size: 1rem;   
            padding: 1rem 2rem;
            background-color: colours.$bg-primary;
            height: min-content;
            margin: 0;
        }
        .pagefind-ui {
            &__search-input {
                background-color: transparent;
            }
            &__filter-group {
                flex-wrap: wrap;
                flex-direction: row;
                label {
                    font-size: 1rem;
                }
            }
            &__filter-panel {
                margin-top: 0;
            }
            &__filter-value {
                width: fit-content;
                label {
                    padding: 1rem 1rem 1rem 3rem;
                    margin: -1rem -1rem -1rem -3rem;
                }
            }
            &__results-area {
                display: block;
                width: 100%;
                flex: 0;
                padding: 1rem 2rem;
            }
            &__drawer {
                max-height: 30rem;
                overflow: auto;
                border: colours.$text-subdued 2px solid;
                border-top: 0;
                position: absolute;
                z-index: 1;
                background-color: white;
                font-family: overpass, sans-serif;
                font-size: 1rem;
                line-height: 150%;
                width: 100%;
                flex-direction: column;
                flex-wrap: nowrap;
                gap: 0;
                p {
                    font-size: 1rem;
                    line-height: 150%;
                }
                mark {
                    background-color: colours.$rose;
                }
            }
            &__form {
                &::before {
                    height: 20px;
                    width: 20px;
                    margin-top: -3px;
                    webkit-mask-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 0H12V2H4V0ZM2 4V2H4V4H2ZM2 12H0V4H2V12ZM4 14H2V12H4V14ZM12 14V16H4V14H12ZM14 12H12V14H14V16H16V18H18V20H20V18H18V16H16V14H14V12ZM14 4H16V12H14V4ZM14 4V2H12V4H14Z" fill="%237C6E65"/></svg>');
                    mask-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 0H12V2H4V0ZM2 4V2H4V4H2ZM2 12H0V4H2V12ZM4 14H2V12H4V14ZM12 14V16H4V14H12ZM14 12H12V14H14V16H16V18H18V20H20V18H18V16H16V14H14V12ZM14 4H16V12H14V4ZM14 4V2H12V4H14Z" fill="%237C6E65"/></svg>');
                }
                input {
                    &::placeholder {
                        color: colours.$text-subdued;
                        font-style: italic;
                        font-weight: normal;
                        opacity: 100%;
                    }
                    border: colours.$text-subdued 2px solid;
                    border-radius: 0;
                    font-family: overpass, sans-serif;
                    
                }
                button {
                    padding: 1rem;
                    padding-top: .9rem;
                    font-size: 1rem;
                    font-family: overpass;
                    border-radius: 0;
                    background-color: transparent;
                    border-left: colours.$text-subdued 2px solid;
                    color: colours.$text-subdued;
                }
            }
        }
    }
    .note .mention-link {
        font-size: 1rem;
    }
    .note-content {
        row-gap: 0;
    }
    .post-header.note {
        display: flex;
        flex-direction: column;
        gap: none;
        h2 {
            margin: 0;
        }
    }
}