@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/grids.scss' as grids;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;

@mixin writing-mobile(){
    h1 {
        grid-column: 2/12;
    }
    aside {
        grid-column: 2/12;
        grid-row: 2;
    }
    .writing-posts {
        > ul {
            align-items: center;
        }
        grid-column: 1/13;
        flex-direction: column;
    }
    .blogpost-footer {
        overflow: auto;
        align-items: flex-start;
        .tags {
            flex-wrap: wrap;
        }
    }
    #blogpost-footer-actions {
        padding-top: .25rem;
    }
    .post-thumbnail {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        box-sizing: border-box;
    }
}