---
layout: project/project.njk 
type: writing
--- 

{%- from "components/components.njk" import component -%}
{% set replies = webmentions | getWebmentionsByTypes(['mention-of', 'in-reply-to'])%}
{% set reactions = webmentions | getWebmentionsByTypes(['like-of', 'repost-of', 'bookmark-of']) %}
{% set mentions = webmentions | getWebmentionsByTypes(['mention-of']) %}
{% set inreplies = webmentions | getWebmentionsByTypes(['in-reply-to'])%}

<div class="blogpost h-entry" data-pagefind-body>
    {% if externalLink %} <a class="externalLink" href="{{ externalLink }}"> </a> {% else %}{% endif %}
    <div class="blogpost-header">
        <div class="information">
            <h1 class="p-name"> {{ title }}</h1>
            <time class="dt-published" data-pagefind-sort="date">{% if date %} {{ page.date | date }} {% endif %}</time>
        </div>
    </div>
    <div class="blogpost-content e-content">
        {{ content | safe }}
        
        {% if externalLink %} 
        {{
            component('link-button',{
                innercontent: 'View external document',
                class: 'view-external-doc bg-rose',
                linkurl: externalLink,
                icon: 'article'
            })
        }}
        {% else %}{% endif %}
        
    </div>
    <div class="blogpost-footer">
        <a rel=author href="https://wingpang.com" class="hidden p-author" aria-hidden>Wing Pang</a>
        <img src="/assets/img/home/me.png" alt="Photo of Wing Pang wearing a kimono" class="u-photo hidden" aria-hidden>
        <a href="{{ page.url }}" class="u-url hidden" aria-hidden>Link to {{ title }} article</a>
        <div class="tags" id="blogpost-footer-tags">
            {% for tag in tags %}
                {# TODO: sort by tag + allow users to click to a page that filters it #}
                <div data-pagefind-filter="Filter by tags" class="tag p-category" href="#">
                    #{{ tag }}
                </div>
            {% endfor %}
        </div>
        <div id="blogpost-footer-actions">
            <span class="like"><img src="/assets/img/icons/heart.svg" alt=""> {{ reactions.length }}</span>
            <span class="reply"><img src="/assets/img/icons/comment.svg" alt="">{{ replies.length }}</span>
        </div>
    </div>
</div>