@use './stylesheets/mixin/breakpoints.scss' as bp;

$desktop-heading-height: 4rem;

@mixin home-page-desktop(){
    @include bp.desktop{
        row-gap: 0;
        #home-intro__hero {
            grid-column: 1/10;
            h1 {
                font-size: min(5vw, $desktop-heading-height);
            }
        }
        #home-intro__slime{
            height: $desktop-heading-height;
            width: $desktop-heading-height;
        }
        #home-intro__name-span {
            &::after {
                bottom: .35rem;
                height: .9rem;
            }
        }
    }
}