@use './stylesheets/mixin/breakpoints.scss' as bp;
@use './stylesheets/mixin/colours.scss' as colours;
@use './stylesheets/variables.scss' as variables;

@mixin home-page-mobile(){
$mobile-heading-height: 2.25rem;

    h1 {
        font-size: min(8vw, $mobile-heading-height);
    }
    #home-intro__slime{
        height: $mobile-heading-height;
        width: $mobile-heading-height;
    }
    #home-intro__name-span {
        &::after {
            bottom: .15rem;
            height: .55rem;
        }
    }
    .home-intro__hello-group {
        margin-bottom: -1rem;
        margin-left: -.5rem;
    }
    #home-intro {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    #home-tools {
        padding-bottom: 4rem;
        h2 {
            margin-top: 2rem;
        }
        .home-tools-toggle, h2, .tools {
            grid-column: 1/11;
        }
    }
    #home-tools {
        min-height: calc(100dvh - variables.$header-desktop-height);
    }
}