@use './stylesheets/mixin/breakpoints.scss' as bp;
@use './stylesheets/mixin/colours.scss' as colours;
@use './stylesheets/variables.scss' as variables;



@mixin home-page-mobile(){
$mobile-heading-height: 4rem;
    #home-intro {
        min-height: calc(100dvh - variables.$header-mobile-height)
    }
    h1 {
        font-size: min(12vw, $mobile-heading-height);
    }
    #home-intro__slime{
        height: $mobile-heading-height;
        width: $mobile-heading-height;
    }
    #home-intro__name-span {
        &::after {
            bottom: .25rem;
            height: 1rem;
        }
    }
    .home-intro__hello-group {
        margin-bottom: -3rem;
        margin-left: -1rem;
    }
    .home-intro__pills {
        flex-direction: row;
        gap: .75rem;
        max-width: 100%;
        align-items: flex-start;
        div {
            display: flex;
            justify-content: flex-start;
            padding: .75rem 1rem;
        }
    }
    #home-intro {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #home-intro__image {
        img {
            transform: rotate(1.82deg);
        }
        .home-deco-circle {
            bottom: -1rem;
            right: -1rem;
        }
    }
}