@use './stylesheets/mixin/breakpoints.scss' as bp;
@use './stylesheets/variables.scss' as variables;


$tablet-heading-height: 6rem;

@mixin home-page-tablet(){
    @include bp.tablet{
        padding-bottom: 0;
        .link-button {
            grid-column: 1/4;
            margin-bottom: -1em;
        }
        #home-intro {
            display: grid;
            grid-template-columns: subgrid;
            gap: inherit;
            row-gap: 2rem;
            min-height: calc(100dvh - variables.$header-desktop-height)
        } 
        #home-intro__hero {
            grid-column: 1/10;
            h1{
                font-size: min(12vw, $tablet-heading-height);
            }
        }
        #home-intro__slime{
            height: $tablet-heading-height;
            width: $tablet-heading-height;
        }
        .home-intro__hello-group {
            margin-bottom: -4rem;
        }
        .home-intro__pills {
            grid-column: 1/5;
        }
        #home-intro__paragraphs {
            grid-column: 1/6;
        }
        #home-intro__image {
            img {
                transform: rotate(3.64deg);
            }
            margin-top: -1rem;
            grid-column: 7/11;
        }
        .home-intro__pills {
            div {
                display: flex;
                justify-content: flex-start;
                padding: 1rem 2rem;
            }
        }
        #home-intro__name-span {
            &::after {
                bottom: .75rem;
                height: 1.5rem;
            }
        }
        .home-intro__i-am {
            row-gap: 2rem;
        }
        #home-design {
            .cards {
                grid-column: 1/11;
                display: flex;
                flex-direction: row;
                scroll-snap-align: center;
                gap: 2rem;
                .card.vr {
                    rotate: -1deg;
                }
                .card.ol {
                    rotate: 1deg;
                    margin-top: 3rem;
                }
                .card.darlo {
                    rotate: -1deg;
                    margin-top: 6rem;
                }
            }
    
            h2 {
                grid-column: 1/4;
                white-space: nowrap;
            }
    
            aside {
                margin-top: 3rem;
                text-align: right;
                grid-column: 6/11;
                rotate: 1deg;
            }
        }
        #home-tools {
            display: grid;
            grid-template-columns: subgrid;
            gap: inherit;
            row-gap: 4rem;
            scroll-snap-align: end;
            h2 {
                grid-column: 6/11;
                rotate: 1deg;
                white-space: nowrap;
                margin-top: 0;
            }
            h3 {
                white-space: nowrap;
            }
            .tools {
                display: grid;
                grid-template-columns: subgrid;
                gap: inherit;
            }
            .design {
                grid-column: 1/6;
            }
            .code {
                grid-column: 6/11;
            }
            .design, .code {
                h3 {
                    grid-column: 1/6;
                }
                display: grid;
                grid-template-columns: subgrid;
                gap: inherit;
                align-items: top;
            }
            .tiles-container {
                grid-column: span 5;
                display: grid;
                grid-template-columns: subgrid;
                position: relative;
                width: 100%;
                height: 100%;
            }
            .tile {
                position: relative;
                flex-direction: column;
                height: fit-content;
                width: fit-content;
                img {
                    width: 6.25rem;
                    height: 6.25rem;
                }
            }
            #ae {
                grid-column: 2/3;
                grid-row: 1;
                top: -1rem;
                rotate: -2deg;
            }
            #fg {
                grid-column: 4/5;
                grid-row: 1;
                rotate: 1deg;
            }
            #il {
                grid-column: 1/2;
                grid-row: 2;
                left: 2rem;
                rotate: 3deg;
            }
            #in {
                grid-column: 5/6;
                grid-row: 2;
                right: 1rem;
                top: 1rem;
                rotate: 1deg;
            }
            #ps {
                grid-column: 3/4;
                grid-row: 2;
                rotate: -3deg;
            }
            #pr {
                grid-column: 3/54;
                grid-row: 3;
                bottom: -1rem;
                left: -1rem;
                rotate: 2deg;
            }
            #et {
                grid-column: 1/2;
                grid-row: 1;
                top: -1rem;
                left: 1rem;
                rotate: -2deg;
            }
            #ht {
                grid-column: 4/5;
                grid-row: 1;
                right: -1rem;
                rotate: 5deg;

            }
            #hg {
                grid-column: 3/4;
                grid-row: 2;
                left: -3rem;
                top: -5rem;
            }
            #rc {
                grid-column: 1/2;
                grid-row: 3;
                right: -3rem;
                top: -5rem;
                rotate: -1deg;
            }
            #sa {
                grid-column: 3/4;
                grid-row: 3;
                left: -.45rem;
                rotate: 1deg;
            }
            #tw {
                grid-column: 5/6;
                grid-row: 3;
                bottom: 6rem;
                left: -3rem;
                rotate: 3deg;
            }
        }
        #home-design, #home-tools {
            min-height: calc(100dvh - variables.$header-mobile-height);
        }
    }
}