---
title: About me
---
{%- extends "src/_includes/layouts/base.njk" -%}
{%-block content-%}
<div class="snap-scroll">
    <div id="about-page">
        <div class="text-container">
            <div class="about-content first-content-block">
                <div class="about-heading">
                    <h1>
                        <span>
                            About&nbsp;me
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_28_222)">
                                <path d="M12.6203 5.71209L9.40967 4.81592L1.34416 33.7114L39.8714 44.4654L47.9369 15.5699L12.6203 5.71209ZM43.8302 17.8844L37.557 40.3586L5.45094 31.3969L11.7241 8.92269L43.8302 17.8844ZM23.6704 15.718L17.2492 13.9256L15.4568 20.3468L21.878 22.1392L23.6704 15.718ZM11.35 22.6613L24.1925 26.246L22.4001 32.6672L9.55771 29.0825L11.35 22.6613ZM39.7234 20.1988L30.0916 17.5103L29.1954 20.7209L38.8272 23.4094L39.7234 20.1988ZM28.2992 23.9315L37.9311 26.62L37.0349 29.8306L27.4031 27.1421L28.2992 23.9315ZM36.1387 33.0412L26.5069 30.3527L25.6107 33.5633L35.2426 36.2518L36.1387 33.0412Z" fill="#4E4843"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_28_222">
                                <rect width="40" height="40" fill="none" transform="translate(10.7539) rotate(15.5959)"/>
                                </clipPath>
                                </defs>
                            </svg>         
                        </span>
                        <svg class="squiggle" width="219" height="122" viewBox="0 0 219 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g style="mix-blend-mode:multiply">
                            <path d="M183.755 106.501C68.4299 114 12.0084 92.7533 14.0537 56.479C16.6102 11.136 144.15 7.3945 178.097 20.8017C216.279 35.8818 209.767 69.2677 183.755 81.122C150.663 96.202 129.703 93.6022 100.005 93.6022" stroke="#FFC6C6" stroke-width="28"/>
                            </g>
                        </svg>                        
                    </h1>
                </div>
                <div class="content">
                    <p>I don’t use social media anymore but <b>you can find me on <a href="https://www.linkedin.com/in/wingy">LinkedIn</a> and my <a href="https://drive.google.com/file/d/1455OJd8kqjmnODrE_ZsO1i5WEjXFWZBU/view">resumé here</a></b>.</p>
                    <p>I’m a Sydney-based, Australian junior product designer studying a <b>Bachelor of Design in Visual Communications</b> and <b>Bachelor of Arts in International Studies</b> (Japan) at the University of Technology Sydney. </p>
                    <p>My mojo is in <b>design systems</b> and <b>user interface</b> design. <b>Accessible design</b> is a priority in my practice, and I believe in an inclusive and open web!</p>
                    <p>Oftentimes, I dabble in some code and work with frontend developers to <b>build consistent, organised and reusable components that are mobile responsive.</b></p>
                    <ul>
                        <li>2023 – Web designer for Dr. Nicole Cama’s Darlinghurst Street project with developer Nick Clark (Macquarie-PHA Applied History Award winner)</li>
                        <li>2020 – Illustration featured in Lane Cove Gallery online exhibition</li>
                        <li>2020 – Animation featured at Microflix Film Festival</li>
                        <li>2018 – Animation featured at Sydney Fringe Festival</li>
                    </ul>
                </div>
            </div>
            <div class="about-content second-content-block">
                <h2> On being a global-minded designer </h2>
                <div class="content">
                    <p>I was born during a <a href="http://agora.ex.nii.ac.jp/digital-typhoon/summary/wnp/s/199919.html.en">tropical cyclone</a> in Hong Kong to a pair of incredibly supportive parents and blessed with two siblings who are equally as supportive. When I was around six years old, my father bravely uprooted the whole family to come to Australia.</p>
                    <p>One thing I love about being a Sydney-sider is the amount of cultural diversity we have. Cultural diversity benefits not only our social, but also professional lives.</p>
                    <p>We’re all shaped by the cultures we’re raised in, but being in a multicultural environment gives us the means to view ourselves outside of a microcosm. <a href="https://www.scirp.org/journal/paperinformation?paperid=125109">It gives rise to innovative ideas from new perspectives.</a></p>
                    <p>With the world being more digitally interconnected than ever before, <b>I’m interested in creating designs that suit a modern, global citizen and solving problems that come along the way.</b></p>
                    <p>I’m bilingual in Cantonese, fluent in Mandarin and at an intermediate level in Japanese.</p>
                </div>
            </div>
        </div>
        <div class="image-container">
            <div class="about-images first-image-block">
                <img class="me" src="/assets/img/about/me.png" alt="Portrait of Wing Pang smiling wearing a pink dress while holding a spoon."/>
                <img class="niigata" src="/assets/img/about/niigata.png" alt="Portrait of the back of Wing Pang on a train platform in Niigata, Japan, looking at the mountain scenary."/>
                <img class="hk" src="/assets/img/about/hk-icon.svg" alt="Icon showing the cityscape of Hong Kong."/>
                <img class="syd" src="/assets/img/about/syd-icon.svg" alt="Icon showing the Sydney Opera House and Harbour Bridge."/>
            </div>
            <div class="about-images second-image-block">
                <div class="about-image-container">
                    <img class="baby" src="/assets/img/about/baby.png" alt="Old photo of Wing Pang as a toddler, wearing her kindergarten uniform in Hong Kong."/>
                    <img class="globe" src="/assets/img/about/globe-icon.svg" alt="Icon of a globe."/>
                    <img class="nanjing" src="/assets/img/about/nanjing.png" alt="Photo of a traditional Chinese boat taken in Nanjing."/>
                    <img class="japan" src="/assets/img/about/japan.png" alt="Photo of a traditional building in Kobuna Cho, Japan."/>
                </div>
            </div>
        </div>
        <div class="about-cta">
            <p class="cta-heading">That's enough about me!</p>
            <p class="cta-caption">I'd love to hear about you</p>
            {# <p class="cta-now">Visit my <a href="">now</a> page if you haven't had enough!</p> #}
            {{
                component('button',{
                    innercontent: 'Send me an email!',
                    class: 'header__email-button bg-lemonade',
                    onclick: 'location.href="mailto:hello@wingpang.com"',
                    icon: 'mail',
                    arialabel: 'Send an email to hello@wingpang.com'
                })
            }}
            {{
                component('tile',{
                    linkurl: 'https://www.linkedin.com/in/wingy',
                    id: 'li',
                    innercontent: 'Linkedin',
                    icon: 'icons/linkedin.png'
                })
            }}
            {{
                component('tile',{
                    linkurl: 'https://drive.google.com/file/d/14IiD1qMRNCEfs9NVsdp8n_ECys5JrL01/view?usp=sharing',
                    id: 're',
                    innercontent: 'Resumé',
                    icon: 'icons/doc.svg'
                })
            }}
        </div>
    </div>
</div>
{%- endblock -%}