--- 
title: Home
---

{%- extends "src/_includes/layouts/base.njk" -%}
{%- block content -%}

<div style="
    display: none;"
>
<div class="h-card vcard">
                <span class="p-name">Wing Pang</span>
                <a href="http://wingpang.com/" class="u-url u-uid hidden" aria-hidden></a>
                <div class="p-note">
                    <p>A <span class="p-locality">Sydney</span>-based product designer with an interest in 
                        <b>accessible UI and design systems</b>. I work with developers to 
                        build <b>scalable UI components working across HTML, SASS and React</b>.
                    </p>
                    <p> 
                        If I’m not nerding out on obscure, niche hobbies, or going down 
                        rabbitholes on the internet, you might find me 
                    at a foodie hotspot near&nbsp;you.
                </div>
                </p><span><a rel="me" class="u-url" href="https://www.linkedin.com/in/wingy">LinkedIn</a> and <a rel="me" class="u-url" href="https://github.com/wingywing">GitHub</a></b> 
                (<a href="/now"><b>now</b></a>)</span>
                <img class="u-photo" src="assets/img/home/me.png" alt="Photo of Wing Pang wearing a kimono" eleventy:heights="20"/>
</div>
</div>

<div style="
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: -4rem;
    font-size: 1.25rem;
">
    Currently redesigning and updating my website.
    <br/>
    Watch this space!
    <br/>
    <a href="/now">Now</a>
</div>

<script src="js/home.js"></script>
{%- endblock -%}

