---
layout: base.njk
---

<h1>2023-portfolio</h1>
<p>A new portfolio using 11ty as base. This is normal para and <b>bold</b></p>
<a href="#">testing a link</a>
<p class="text-hero">this is hero text</p>
<aside>this is an aside</aside>
<h1>this is paragraph/article title</h1>
<p class="text-sm">this is small-text</p>
YEEHAWsda