---json
{
  "permalink": "notesfeed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Wing Pang's Notes",
    "subtitle": "Just random tidbits",
    "language": "en",
    "url": "https://wingpang.com/notes",
    "author": {
      "name": "Wing Pang",
      "email": "hello@wingpang.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>{{ metadata.language }}</language>
    {%- for note in collections.notes | reverse %}
    {%- set absolutePostUrl = note.url | absoluteUrl(metadata.url) %}
    <item>
      {% if note.data.title %}
      <title>{{ note.data.title }}</title>
      {% endif %}
      <link>{{ absolutePostUrl }}</link>
      <description>{{ note.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
      <pubDate>{{ note.date | date }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>