---
title: Notes
layout: base.njk
feedtype: notes
---

<div id="notes-page">
    <h1>
        <span>
            Notes
            <svg class="header-icon notes" viewBox="0 0 28 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.4444 1.57143H18.6667V0H26.4444V1.57143ZM24.8889 9.42857V6.28571H20.2222V4.71429H26.4444V1.57143H28V6.28571H26.4444V9.42857H24.8889ZM24.8889 9.42857H18.6667V11H21.7778V14.1429H18.6667V15.7143H17.1111V11H15.5556V9.42857H14V7.85714H15.5556V6.28571H17.1111V4.71429H18.6667V1.57143H17.1111V4.71429H15.5556V6.28571H12.4444V7.85714H10.8889V6.28571H9.33333V4.71429H7.77778V6.28571H6.22222V7.85714H3.11111V9.42857H1.55556V11H0V18.8571H1.55556V20.4286H3.11111V22H14V20.4286H15.5556V18.8571H17.1111V17.2857H18.6667V15.7143H21.7778V14.1429H23.3333V11H24.8889V9.42857ZM6.22222 11H4.66667V15.7143H6.22222V11ZM9.33333 11H7.77778V15.7143H9.33333V11ZM7.77778 17.2857H6.22222V18.8571H7.77778V17.2857Z" fill="#7C6E65"/>
            </svg>
        </span>
    </h1>  
    <aside>You found me!
        <br/>
        <div class="links">Follow my notes through <a href="/notesfeed.xml">RSS</a> or <a href="https://fed.brid.gy/web/wingpang.com/followers">on the Fediverse</a></div>
    </aside>
    <div class="writing-posts h-feed hfeed">
        <ul>
            {%- for note in collections.notes -%}
            {% set replies = note.data.webmentions | getWebmentionsByTypes(['mention-of', 'in-reply-to'])%}
            {% set reactions = note.data.webmentions | getWebmentionsByTypes(['like-of', 'repost-of', 'bookmark-of']) %}
            {% set mentions = note.data.webmentions | getWebmentionsByTypes(['mention-of']) %}
            {% set inreplies = note.data.webmentions | getWebmentionsByTypes(['in-reply-to'])%}
                <li class="post-thumbnail h-entry hentry">
                    <a class="u-bridgy-fed" style="display:none; visibility: hidden;" href="https://fed.brid.gy/" hidden="from-humans" aria-hidden></a>
                    <div class="post-header note">
                        {% if note.data.title %}
                            <h2 class="p-name"> {{ note.data.title }}</h2>
                        {% endif %}
                            <time class="dt-published" data-pagefind-sort="date">{% if note.date %} {{ note.date | date }} {% endif %}</time>
                        {% if note.data.notetype == "reply" or note.data.inReplyTo %}
                            <span>In reply to: 
                                <a class="u-in-reply-to mention-link" href="
                                {% if note.data.targetLink %}
                                    {{ note.data.targetLink }}
                                {% elif note.data.inReplyTo %}
                                    {{ note.data.inReplyTo }}
                                    {% endif %}">
                                    {{ note.data.targetLink }}
                                    {{ note.data.inReplyTo }}
                                </a>
                            </span> 
                        {% endif %}
                        {% if note.data.notetype == "like" or note.data.likeOf %}                  
                            <span>Liked post: 
                                <a class="u-like-of mention-link" href="
                                {% if note.data.targetLink %}
                                    {{ note.data.targetLink }}
                                {% elif note.data.likeOf %}
                                    {{ note.data.likeOf }}
                                    {% endif %}">
                                    {{ note.data.targetLink }}
                                    {{ note.data.likeOf }}
                                </a></span> 
                        {% endif %}
                        {% if note.data.notetype == "bookmark" or note.data.bookmarkOf %}
                            <span>Bookmarked post: 
                                <a class="u-bookmark-of h-cite mention-link" href="
                                {% if note.data.targetLink %}
                                    {{ note.data.targetLink }}
                                {% elif note.data.bookmarkOf %}
                                    {{ note.data.bookmarkOf }}
                                    {% endif %}">
                                    {{ note.data.targetLink }}
                                    {{ note.data.bookmarkOf }}
                                </a>
                            </span> 
                        {% endif %}
                        {% if notetype == "follow" %}
                            <span class="note-span">Followed: <a class="u-follow-of mention-link" href="{{ targetLink }}">{{ targetLink }}</a></span> 
                        {% endif %}
                    </div>
                    <a class="post-thumbnail__link" href="{{ note.url }}"><span>Link to open note</span></a>
                    <div class="note-content">
                        {% if note.data.imageSrc or note.data.photo %}
                            {% if note.data.imageSrc %}
                            <div class="owl-carousel owl-theme">
                                <img class="u-photo" src="{{ note.data.imageSrc }}" alt="{{ note.data.alt }}" eleventy:widths="648">
                            </div>
                            {% elif note.data.photo %}
                            <div class="owl-carousel owl-theme">
                                {% for p in note.data.photo %}
                                    <img class="u-photo" src="{{ p.url | removeSrc }}" alt="{{ p.alt }}" eleventy:widths="648">
                                {% endfor %}
                            </div>
                            {% endif %}
                        {% endif %}
                        {{ note.content | safe }}
                    </div>
                    <div class="blogpost-footer">
                        <div class="tags p-category" id="blogpost-footer-tags">
                            {% for tag in note.data.category %}
                                <div class="tag">
                                    #{{ tag }}
                                </div>
                            {% endfor %}
                        </div>
                        <div id="blogpost-footer-actions">
                            <span class="like"><img src="/assets/img/icons/heart.svg" alt=""> {{ reactions.length }}</span>
                            <span class="reply"><img src="/assets/img/icons/comment.svg" alt="">{{ replies.length }}</span>
                        </div>
                    </div>
                </li>
            {%- endfor -%}
        </ul>
    </div>
</div>