---json
{
  "permalink": "notesfeed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Wing Pang's Notes",
    "subtitle": "Just random tidbits",
    "language": "en",
    "url": "https://wingpang.com/notes",
    "author": {
      "name": "Wing Pang",
      "email": "hello@wingpang.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>{{ metadata.language }}</language>
    {%- for note in collections.notes | reverse %}
    {%- set absolutePostUrl = note.url | absoluteUrl(metadata.url) %}
    <item>
      {% if note.data.title %}
       <title>{{ note.data.title }}</title>
      {% endif %}
      
      <link>{{ absolutePostUrl }}</link>
      <description>
        {% if note.data.likeOf %}
          This note is a like of <![CDATA[<a href="{{ note.data.likeOf }}"> {{ note.data.likeOf }}</a>]]>
        {% endif %}
        {% if note.data.targetLink %}
          This note mentions <![CDATA[<a href="{{ note.data.targetLink }}"> {{ note.data.targetLink }}" </a>]]>
        {% endif %}
        {% if note.data.bookmarkOf %}
          This note is a bookmark of <![CDATA[<a href="{{ note.data.bookmarkOf }}">{{ note.data.bookmarkOf }}</a>]]>
        {% endif %}
        {% if note.data.inReplyTo %}
            This note is a reply to <![CDATA[<a href="{{ note.data.inReplyTo }}">{{ note.data.inReplyTo }}</a>]]>
        {% endif %}

        {{ note.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}

        {% if note.data.imageSrc %}
        <![CDATA[<img src="{{ note.data.imageSrc }}" alt="{{ note.data.alt }}">]]>
      {% elif note.data.photo %}
        {% for p in note.data.photo %}
          <![CDATA[<img src="{{ p.url | removeSrc }}" alt="{{ p.alt }}">]]>
        {% endfor %}
      {% endif %}
        
      </description>
      <pubDate>{{ note.date | dateToRfc822 }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>