---json
{
  "permalink": "notesfeed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Wing Pang's Notes",
    "subtitle": "Just random tidbits",
    "language": "en",
    "url": "https://wingpang.com/notes",
    "author": {
      "name": "Wing Pang",
      "email": "hello@wingpang.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>{{ metadata.language }}</language>
    {%- for note in collections.notes | reverse %}
    {%- set absolutePostUrl = note.url | absoluteUrl(metadata.url) %}
    <item>
      {% if note.data.title %}
       <title>{{ note.data.title }}</title>
      {% endif %}
      
      <link>{{ absolutePostUrl }}</link>

      {% if note.data.likeOf %}
       <a class="u-like-of" href="{{ note.data.likeOf }}">This note is a like of {{ note.data.likeOf }}</a>
      {% endif %}
      {% if note.data.targetLink %}
        <a class="
        {% if note.notetype == reply %}
          u-in-reply-to
        {% elif note.notetype == like %}
          u-like-of
        {% elif note.notetype == bookmark %}
          u-bookmark-of h-cite
        {% endif %}
        " href="{{ note.data.targetLink }}">This note mentions {{ note.data.targetLink }}</a>
      {% endif %}
      {% if note.data.bookmarkOf %}
        <a class="u-bookmark-o h-cite" href="{{ note.data.bookmarkOf }}">This note is a bookmark of {{ note.data.bookmarkOf }}</a>
      {% endif %}
      {% if note.data.inReplyTo %}
        <a class="u-in-reply-to" href="{{ note.data.inReplyTo }}">This note is a reply to {{ note.data.inReplyTo }}</a>
      {% endif %}

      <description>{{ note.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
      <pubDate>{{ note.date | date }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>