//Global colours
$text-primary: light-dark(#4E4843, #f6f5f3); //Main text items
$text-subdued: light-dark(#7C6E65, #c4c4c4); //Text that are asides //CANNOT be used with non bg-tertiary for contrast reasons
$text-inverted: light-dark(white, #303030);

$border-neutral: light-dark(#9A9384, #9A9384); //Do not use for text

$bg-primary: light-dark(#F6F5F3, #111010) ; //Main bg colour
$bg-secondary: light-dark(#FFFFFF, #272222); //Used on top of main bg colour
$bg-tertiary: light-dark(#F1ECE4, #303030); //Misc

//Below colours work with text-primary and text-subdued for contrast
$rose: light-dark(#FFC6C6, #B11B1B);
$sunspray: light-dark(#F8D0A1, #864C09);
$lemonade: light-dark(#EEE485, #736002);
$lucky: light-dark(#C6E790, #436808);
$seasalt: light-dark(#C2DFE1, #116969);

//Accents are tested in contrast with their counterparts below!
$accent-negative: light-dark(#FFC6C6, #B11B1B);
$accent-warning: light-dark(#F8D0A1, #864C09);
$accent-emphasis: light-dark(#EEE485, #736002);
$accent-success: light-dark(#C6E790, #436808);
$accent-links: light-dark(#C2DFE1, #116969);

$negative: light-dark(#B11B1B, #FFC6C6);
$warning: light-dark(#864C09, #F8D0A1);
$emphasis: light-dark(#736002, #EEE485);
$success: light-dark(#436808, #C6E790);
$links: light-dark(#116969, #2FE4EF);

//Light mode globals
@mixin light-mode {
    img:not(.button-icon) {
        filter: brightness(1) contrast(1);
    }
    .squiggle {
        filter: brightness(1) saturate(1);
    }
    header {
        .header-logo {
            svg {
                filter: brightness(1) saturate(1);
            }
        }
    }
    .button-icon {
        filter: invert(0) brightness(1);
    }
    .home-intro__hello-group {
        svg path {
            stroke: $sunspray;
        }
    }
    #theme-switcher {
        .moon {
            display: block;
            visibility: visible;
        }
        .sun {
            display: none;
            visibility: hidden;
        }
    }
    #et, #re{
        picture {
            filter: invert(0) brightness(1);
        }
    }
    #about-page {
        .image-container {
            background-color: transparentize(white, .7);
        }
        .icon{
            img {
                filter: brightness(1);
            }
        }
    }
}

//Dark mode globals
@mixin dark-mode {
    img:not(.button-icon) {
        filter: brightness(.8) contrast(1.2);
    }
    .squiggle {
        filter: brightness(.3) saturate(9);
    }
    header {
        .header-logo {
            svg {
                filter: brightness(1.7) saturate(0);
            }
        }
    }
    .button-icon {
        filter: invert(1) brightness(2);
    }
    .home-intro__hello-group {
        svg path {
            stroke: $bg-tertiary;
        }
    }
    #theme-switcher {
        .moon {
            display: none;
            visibility: hidden;
        }
        .sun {
            display: block;
            visibility: visible;
        }
    }
    #et, #re{
        picture {
            filter: invert(1) brightness(.8);
        }
    }
    #about-page {
        .image-container {
            background-color: transparent;

        }
        .icon{
            img {
                filter: brightness(.5);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    @include dark-mode();
}
.dark {
    @include dark-mode();
}
@media (prefers-color-scheme: light) {
    @include light-mode();
}
.light {
    @include light-mode();
}



//Classes for component styling
$main-colours-list: (
    primary: $text-primary,
    secondary: $text-subdued,

    neutral: $border-neutral,

    inverted: $bg-primary,

    negative: $negative,
    warning: $warning,
    emphasis: $emphasis,
    success: $success,
    links: $links,

    rose: $rose, 
    sunspray: $sunspray,
    lemonade: $lemonade, 
    lucky: $lucky, 
    seasalt: $seasalt,
    );

@mixin generate-classes($prefix, $property){
    @each $colour-name, $colour in $main-colours-list {
        .#{$prefix}-#{$colour-name}{
            #{$property}: $colour;
        }
    }
}

@include generate-classes("text", "color");
@include generate-classes("border", "border-color");


.border-dashed {
    border: 1px dashed;
}
.border-solid {
    border: 2px solid;
}

//Create classes for bg component styles
$bg-colours-list: (
    primary: $bg-primary,
    secondary: $bg-secondary,
    tertiary: $bg-tertiary,

    primary-inverted: $text-primary,
    secondary-inverted: $text-subdued,

    negative: $accent-negative,
    warning: $accent-warning,
    emphasis: $accent-emphasis,
    success: $accent-success,
    links: $accent-links,

    negative-inverted: $negative,
    warning-inverted: $warning,
    emphasis-inverted: $emphasis,
    success-inverted: $success,
    links-inverted: $links,

    rose: $rose, 
    sunspray: $sunspray,
    lemonade: $lemonade, 
    lucky: $lucky, 
    seasalt: $seasalt,
    );

@mixin generate-classes($prefix, $property){
    @each $colour-name, $colour in $bg-colours-list {
        .#{$prefix}-#{$colour-name}{
            #{$property}: $colour;
        }
    }
}

@include generate-classes("bg", "background");

