---
layout: project/project.njk 
--- 

<div class="blogpost">
    <div class="blogpost-header">
        <div class="information">
            <h1>{{ title }}</h1>
            <time>{{ date  }}</time>
        </div>
    </div>
    <div class="blogpost-content">
        {{ content | safe }}
    </div>
</div>