@use '../../../stylesheets/mixin/breakpoints.scss' as bp;
@use '../../../stylesheets/mixin/colours.scss' as colours;
@use '../../../stylesheets/variables.scss' as variables;


@mixin header-mobile(){
    height: variables.$header-mobile-height;

    .header-inner {
        display: flex;
        grid-column: 2/12;
        justify-content: space-between;
        width: 100%;
    }

    .header-nav {
        display: none;
        position: absolute;
        top: calc(variables.$header-mobile-height + 1px);
        width: 100%;
        height: 100vh;
        z-index: 1;

        ul {
            background-color: colours.$bg-primary;
            flex-direction: column;
            gap: 0;
            padding-top: 2rem;
            height: 100%;
            width: 100%;

            li {
                a {
                    
                    justify-content: center;
                    padding: 1rem 0;
                    width: 100%;
                }
            }
        }
    }

    .header__mobile-hamburger-button {
        &:focus, &:hover {
            .line {
                background-color: colours.$text-primary;
            }
        }
        &.active  {
            .line {
                background-color: colours.$text-primary;
            }
            .line-one {
                transform-origin: 0 0;
                transform: translate(20%, 0%) rotate(45deg);
            }
            .line-two {
                transform-origin: center;
                width: 0;
                opacity: 0;
            }
            .line-three {
                transform-origin: 0 100%;
                transform: translate(20%, 1.25px) rotate(-45deg);

            }
        }
        background: none;
        padding: 1rem;
        margin: -1rem;
    }

    .hamburger-icon {
        align-items: center;
        border-radius: 0;
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        gap: 6px;
        width: 2rem;
        height: 2rem;
        .line {
            background-color: colours.$text-subdued;
            height: 4px;
            width: 32px;
            transition: all .7s;
        }
    }

    .header__email-button {
        align-self: center;
        margin-top: 2rem;
        width: fit-content;
    }
}