<header>
    <a href="/">
        Wing Pang
        <img src="../../../assets/img/slime.svg" alt="Slime with wing icon">
    </a>
    <nav> 
        <ul>
            <li>Design</li>
            <li>Illustrations</li>
            <li>Writing</li>
            <li>About</li>
        </ul>
        {{
            component('button',{
                text: 'Send me an email!',
                class: 'header__email-button bg-lemonade',
                onclick: 'location.href="mailto:hello@wingpang.com"',
                icon: 'mail',
                arialabel: 'Click to send an email'
            })
        }}
    </nav>
</header>