<header>
    <a href="/">
        Wing Pang
        <img src="../../../assets/img/slime.svg" alt="Slime with wing icon">
    </a>
    <nav> 
        <ul>
            <li>Design</li>
            <li>Illustrations</li>
            <li>Writing</li>
            <li>About</li>
        </ul>
        {{
            component('button',{
                text: 'test',
                class: 'header__email-button',
                onclick: 'function()',
                icon: 'mail'
            })
        }}
    </nav>
</header>