{# 
    You can pass through:
    - class for classname
    - linkurl for link url
    - text for text
    - icon for icon --> located in the assets/img/icons folder
#}

<a 
    {% if params.class %}
    class="link-button {{params.class}}"
    {% endif %} 

    {% if params.id %}
    id="{{params.id}}"
    {% endif %} 

    {% if params.linkurl %}
    href="{{params.linkurl}}"
    {% endif %}
>
    {{ params.innercontent | safe}}
    {# Only show icon if icon is passed through #}


    {% if params.icon %}
    <img src="{{ "/assets/img/icons/" + params.icon + ".svg"}}" alt="" class="button-icon">
    {% endif %}

</a>
